
        <header id="topnav">
            <div class="topbar-main">
                <div class="container">

                    <div class="topbar-left">
                        <a href="/" class="logo">
                            
                            <span ><img src="/static/clinic/saffara-logo_white.png" style="height:60px" /> <span style="font-size:20px;color:#fff !important"> Sidra.ai</span> </span> 
                        </a>
                    </div>


                    <div class="menu-extras navbar-topbar">


                            <span style="color:white"> | </span>


                              <li class="list-inline-item">
                            

                            </li>



                        </ul>

                    </div> 
                    <div class="clearfix"></div>

                </div> 
            </div>
        
        </header>
